<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281373399758-g3iu5t7sbi41cheiatu7481actjnfpiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281373399758-g3iu5t7sbi41cheiatu7481actjnfpiq</string>
	<key>API_KEY</key>
	<string>AIzaSyD9BtIj3c5DN06D5_cekmijiKllhU4OOw4</string>
	<key>GCM_SENDER_ID</key>
	<string>281373399758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.restaurantesTestApp</string>
	<key>PROJECT_ID</key>
	<string>restaurantes-test</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurantes-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281373399758:ios:f7a923dd13b73d2e444e9f</string>
</dict>
</plist>